extends layout
block append content
	div#content.content-admin
		p 用户列表
			a(href='/admin/user-new/').btn.btn-primary.btn-sm.pull-right 添加用户
		table.table.table-striped.table-entryList
			thead
				tr
					th ID
					th 用户名
					th 邮箱
					th 描述
					th.actions 操作
			tbody
				- for ( var i = 0, len = entry.length; i < len; i++)
					tr
						td= entry[i].id
						td= entry[i].uname
						td= entry[i].email
						td= entry[i].description
						td
							div.btn-group.btn-group-sm
								a(href='/admin/user-center?id=#{ entry[i]._id }').btn.btn-link 查看
								a(href='/admin/user-edit?id=#{ entry[i]._id }').btn.btn-link 编辑
								a(href='/admin/?id=#{ entry[i]._id }&action=delete').btn.btn-link 删除